<link href="https://fonts.googleapis.com/css?family=Baloo+Tamma" rel="stylesheet">

body {
	
	background: #FFFFFF;
	background-image: url(https://static.pexels.com/photos/4289/sweet-almond-biscuits-cookies.jpg);

	color: #FFFFFF;
	font-family: 'Baloo Tamma', cursive;
	}
