body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3em;
  letter-spacing: -0.05em;
  color: white;
  background: #131038;
  background: linear-gradient(to bottom, #1a1577,#131038);


}

.jumbotron {
    background: linear-gradient(to bottom, black, #061123);
    background-image: url("img/Banner2.jpg");
    background-size: 100%;
    background-position: top;
    padding: 100px 25px;
  }

  .jumbotron h1 {
    color: black;
    background-color: white;
    padding: 0px 10px;
    display: inline-block;

  }
  .jumbotron p {
    color: black;
    background-color: white;
    padding: 0px 10px;
    display: inline-block;
  }
  h2 {
    font-size: 0.5em;
    letter-spacing: 0.2em;
    font-weight: 50;
  }


  #whiteblock {
    color: black;
    background-color: white;
    padding: 0px 10px;
    display: inline-block;
  }
  #blackblock {
    color: white;
    font-size: 1em;
    margin: 10px -5px;
    background-color: black;
  }

  .container {
    padding: 0 0px;
    margin: 0 100 0 100px;
  }

  .col-md-4 {
    padding: 10 10px;
  }

  .container-fluid {
       padding: 60px 50px;
  }


  a:link {
      color: white;
      text-decoration: none;
  }

  a:visited {
      color: white;
      text-decoration: none;
  }

  a:hover {
      color: white;
      text-decoration: none;
      text-shadow: 0px 0px 20px white;
  }


  a:active {
      color: black;
      text-decoration: none;
  }

  #icon-md {
    font-size: 1.2em;
    letter-spacing: -0.2em;
  }

.slideanim {
  visibility:hidden;
}
.slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@media(max-width:992px){
  #heading {
    text-align: center;
    margin-left: -20px;
  }
  #heading-2 {
    text-align: left;
  }
  #jumbotron {
        padding-top: 0.05em;
        background-size: 992px 100%;
        background-position: center;
    }
  .container {
    width: 80%;
  }
}
